
.main-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #212124;
  top: 0;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  scroll-behavior: smooth;
}

.side-toolbar {
  position: absolute;
  height: 100%;
  width: 7%;
  background-color: #161618;
  top: 0;
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  scroll-behavior: smooth;
  z-index: 1;
}

.logo {
  position: absolute;
  color: #eeeeee;
  width: 3%;
  font-size: 2vw;
  margin-top: 0%;
  top: 2%;
  margin-left: 28%;
  font-weight: 100;
  
  
}

.hey-there-text {
  position: absolute;
  color: white;
  font-size: 1.5vw;
  margin-left: 13%;
  margin-top: 14.5%;
  font-weight: 100;
}

.fname-text {
  position: absolute;
  color: #eeeeee;
  font-size: 5.5vw;
  margin-left: 13%;
  margin-top: 16%;
  font-weight: 500;
}

.lname-text {
  position: absolute;
  color: #eeeeee;
  font-size: 6vw;
  margin-left: 15%;
  margin-top: 21%;
  font-weight: 500;
}

.basic-intro-text {
  position: absolute;
  color: white;
  font-size: 1.5vw;
  margin-left: 13%;
  margin-top: 29.5%;
  font-weight: 100;
}

.swe-text {
  color: #ffd700;
}
.builder-text {
  color: #C0C0C0;
}
.global-text {
  color: #cd7f32;
}